<nav class="nav-bar">
  <!-- LOGO -->
  <div class="nav-branding">
    <a href="#" class="logo-container">
      <img src="#" class="logo" alt="company logo" />
    </a>
  </div>

  <!-- NAV MENU ITEMS -->
  <div class="nav-menu">
    {{ range .NavItems}} 
        <a href={{ .Href }}>{{ .Label }}</a>
    {{ end }} 
  </div>

  <!-- HAMBURGER -->
  <button class="hamburger" aria-hidden="true">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</nav>
