package components

templ Footer() {
    <footer>
        <img src="../assets/images/sitedonenow.svg" class={ logo(25) } alt="company logo"/>
        <p>Copyright &copy; 2023 SiteDoneNow LLC. All rights reserved.</p>
    </footer>

    <style>
        footer {
            max-width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
    </style>
}

