package components 

templ Index() {
    <!DOCTYPE html> 
    <html>
        @Head("Site Done Now | Local Indy Website Design") 
        <body>
            @Navbar() 
            @Hero() 
            <main>
                <h2>Start the main section</h2>

                <p>
                    Don't mix up paragraphs and headlines.
                </p>

            </main>
            @Footer() 
        </body>
    </html>
}
