package components 

templ PriceCard() {
    <div class="price-card">
        <h2 class="package-name"></h2>
        <p class="for-who"></p>
        <p class="package-price"></p>
        <div class="btn-group"></div>
        <div class="includes">Includes:</div>
    </div> 
}

