@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@100..900&display=swap');

:root {
    font-family: "Noto Sans Syriac", sans-serif; 
    line-height: 1;
    --max-width: 90%;
    --border-radius: 8px;
    --border-size: 1.5px;
    --primary-color: #F98170;
    --secondary-color: #BF5D5E;
    --bg-color: white; 
    --bold-weight: 900; 
    --regular-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    font-size: 16px;
    background-color: var(--bg-color);
}

li {
    list-style: none; 
}

a {
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
}

button {
    cursor: pointer;
}

.text-emphasis {
    color: var(--primary-color); 
    font-weight: var(--bold-weight);
}

.container {
    max-width: var(--max-width);
    margin: auto;
}

.btn-group {
    font-family: sans-serif;
    font-weight: var(--bold-weight);
}

.btn {
    cursor: pointer; 
    border-radius: var(--border-radius);
    padding: 1.2rem 2rem;
    line-height: 4rem; 
    letter-spacing: 0.04rem;
    font-size: 1rem; 
    font-family: inherit;
    align-items: center; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn.learn-more {
    color: var(--secondary-color);
    background: var(--bg-color); 
    border: var(--border-size) solid var(--secondary-color); 
}

.btn.learn-more:hover {
    color: var(--primary-color); 
    box-shadow: 0 0 10px var(--primary-color); 
}

.btn.outline {
    color: black;
    background: transparent;
    border: var(--border-size) solid black; 
}

.btn.outline:hover {
    color: white; 
    background: black;
}

.socials-list {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 1rem;
}

.socials-list i {
    color: var(--primary-color); 
    font-size: 2rem;
}

.socials-list i:hover {
    color: var(--secondary-color);
}

@media(max-width: 768px) {
    h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    
}

