:root {
    font-family: sans-serif; 
    line-height: 1;
    --max-width: 90%;
    --border-radius: 8px;
    --primary-color: #F98170;
    --secondary-color: #BF5D5E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    font-size: 16px;
}

li {
    list-style: none; 
}

a {
    text-decoration: none;
}

.text-emphasis {
    color: var(--primary-color); 
    font-weight: 600;
}


.container {
    max-width: var(--max-width);
    margin: auto;
}

.container.hero {
    padding-block: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.hero-heading {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.08rem;
    font-weight: 100;
}

.hero-sub {
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

.cta-btn {
    background: var(--secondary-color);
    color: white; 
    border: none; 
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
}

@media(max-width: 768px) {
    .container.hero {
        padding-block: 5rem;
    }
    .hero-heading {
        font-size: 2.5rem;
        line-height: 3rem;

    }
}
