.container.hero {
    padding-block: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}

.hero-heading {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.08rem;
    font-weight: var(--regular-weight);
}

.hero-sub {
    font-size: 1.5rem;
    font-weight: var(--regular-weight);
    font-style: italic;
    line-height: 2rem;
}


.btn.cta {
    background: var(--secondary-color);
    color: var(--bg-color); 
    border: var(--border-size) solid var(--secondary-color); 
}
.btn.cta:hover {
    background: var(--bg-color);
    color: var(--secondary-color);
    box-shadow: 0 0 10px var(--primary-color); 
}

.btn.see-work {
    background: none; 
    border: none;
    color: black; 
}

.arrow-right {
    position: absolute;
    font-size: 1.5rem;
    font-family: inherit;
    margin-left: 0.4rem;
    margin-top: 0.06rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.btn.see-work:hover .arrow-right {
    margin-left: 1.2rem; 
}

@media(max-width: 768px) {
    .container.hero {
        padding-block: 7rem;
        gap: 2rem;
    }
    .hero-heading {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .hero-sub {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
