.nav-bar {
    min-height: 4rem;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    max-width: 90%;
    margin: 1rem auto auto auto;

}

.nav-branding {
    font-size: 1.25rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    letter-spacing: 1.5px;
    font-weight: 600;
    gap: 0.4rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    gap: 3.5rem;
}

.nav-site-name {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.nav-link {
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--primary-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width: 768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px; 
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s; 
        background-color: lightgray;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-menu.active {
        left: 0; 
    }

}


