.container.what {
    display: flex;
    flex-direction: row; 
    gap: 5rem;
    align-items: center;
    margin-block: 5rem;
}

.what-brief {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    gap: 1rem;
    font-size: 1rem;
}

.what-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.key-point {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.5rem;
}

.key-heading {
    cursor: default;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.key-icon i {
    font-size: 2rem;
    border: 2.5px solid black; 
    border-radius: var(--border-radius);
    padding: 0.5rem;
    line-height: 4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.key-point:hover .key-icon i {
    color: var(--primary-color); 
    border: 2.5px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.key-point:hover .key-heading {
    color: var(--secondary-color); 
}


@media(max-width: 768px) {
    .container.what {
        flex-direction: column;
        gap: 3rem;
    }
    .what-services {
        display: flex;
        flex-direction: column;
    }

}
